@charset "UTF-8";
/*Personalizacion de bootstrap, fuentes, colores propios*/
/*Estilos Header*/
.navbar-toggler {
  border-width: 2px;
  border-color: rgb(231, 174, 11);
}

.navbar-toggler-icon {
  background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 30 30'%3e%3cpath stroke='rgba%28231, 174, 11, 0.55%29' stroke-linecap='round' stroke-miterlimit='10' stroke-width='2' d='M4 7h22M4 15h22M4 23h22'/%3e%3c/svg%3e");
}

.nav-item:hover { /*TODO: hacer que el hover sea todo a lo alto*/
  background-color: rgb(231, 174, 11);
  color: rgb(0, 29, 77);
}

/*Estilos Fixture*/
.card {
  border: 1px solid rgb(0, 29, 77);
  background-image: linear-gradient(to right bottom, rgba(27, 0, 177, 0.7490196078), rgba(200, 213, 16, 0.7764705882));
}

.custom-card-body {
  flex: 1 1 auto;
  padding: 0rem 0rem;
}

.w-20 {
  width: 20%;
}

/*Estilos Tienda*/
.carousel {
  width: 100%;
  padding: 0;
}
.carousel .carousel-item {
  height: 60vh;
  width: 100%;
}
.carousel .carousel-item .imgAdaptada {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.estiloBotonCompra {
  background-color: rgb(0, 29, 77);
  border-color: rgb(231, 174, 11);
}
.estiloBotonCompra:hover {
  background-color: rgb(231, 174, 11);
  border-color: rgb(0, 29, 77);
}

/*Estilos Contacto*/
.btn-primary {
  background-color: rgb(0, 29, 77);
  color: rgb(231, 174, 11);
}
.btn-primary:hover {
  background-color: rgb(0, 29, 77);
  color: rgb(231, 174, 11);
}

/*Estilos Footer*/
.imagenFooter { /*Imagen de fondo para el footer*/
  background-color: rgb(0, 29, 77);
  background-image: url(../assets/img/footer.png);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 30vh;
}
.imagenFooter .redes {
  height: 30vh;
}
.imagenFooter .redes .icono {
  font-size: 2.5rem;
  color: rgb(0, 29, 77);
}

/*Estilos Galería*/
.galeria {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}
.galeria .cajasGaleria { /*Este va a ser el contenedor de TODAS las imagenes*/
  background-color: rgb(0, 29, 77);
  height: 200px;
  width: 200px;
  border: 2px solid rgb(231, 174, 11);
  margin: 10px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  transition: transform 0.5s ease-in-out;
}
.galeria .cajasGaleria:hover {
  transform: scale(1.1);
}
.galeria .cajasGaleria img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

@font-face {
  font-family: "Roboto Condensed Bold";
  src: url("../assets/fonts/RobotoCondensed-Bold.ttf");
}
@font-face {
  font-family: "PTSans Bold";
  src: url("../assets/fonts/PTSans-Bold.ttf");
}
@font-face {
  font-family: "Arimo Medium";
  src: url("../assets/fonts/Arimo-Medium.ttf");
}
@font-face {
  font-family: "Arimo Bold";
  src: url("../assets/fonts/Arimo-Bold.ttf");
}
@font-face {
  font-family: "Montserrat Light";
  src: url("../assets/fonts/Montserrat-VariableFont_wght.ttf");
}
.fuenteRobotoBold { /*h1*/
  font-family: "Roboto Condensed Bold", sans-serif;
  font-size: 2.5rem;
}

.fuentePtSansBold { /*h2*/
  font-family: "PTSans Bold", sans-serif;
  font-size: 1.5rem;
}

.fuenteArimoMedium { /*parrafos*/
  font-family: "Arimo Medium", sans-serif;
  font-size: 1rem;
}

.fuenteMontserrat { /*h3*/
  font-family: "Montserrat Light", sans-serif;
  font-size: 14px;
}

.colorAmarillo {
  color: rgb(231, 174, 11);
  font-size: 1rem;
}

.colorFondoAzul {
  background-color: rgb(0, 29, 77);
}

.letraBlanca {
  color: white;
  font-weight: bold;
}

.letraNegra {
  color: black;
  font-weight: bold;
}

.padding-top-120 {
  padding-top: 120px;
}

.colorFondo {
  background-image: linear-gradient(to right, rgba(118, 116, 116, 0.5450980392), #ffffff);
  background-image: linear-gradient(to right bottom, rgba(27, 0, 177, 0.7490196078), rgba(200, 213, 16, 0.7764705882));
}

/*Estilos 404*/
.caja404 { /*Este va a ser el contenedor de la imagen de 404*/
  background-color: rgb(0, 29, 77);
  height: 400px;
  width: 400px;
  border: 2px solid rgb(231, 174, 11);
  margin: 10px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.caja404 img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

* { /*Reseteo*/
  Margin: 0;
  Padding: 0;
  Box-sizing: border-box;
}

/*# sourceMappingURL=estilos.css.map */
