@font-face {
    font-family: "Roboto Condensed Bold";
    src: url("../assets/fonts/RobotoCondensed-Bold.ttf");
}
@font-face {
    font-family: "PTSans Regular";
    src: url("../assets/fonts/PTSans-Regular.ttf");
}

@font-face {
    font-family: "Arimo Medium";
    src: url("../assets/fonts/Arimo-Medium.ttf");
}

@font-face {
    font-family: "Arimo Bold";
    src: url("../assets/fonts/Arimo-Bold.ttf");
}

*{ /*Reseteo*/
    Margin: 0;
    Padding: 0;
    Box-sizing: border-box;
}

.fuenteRobotoBold{
    font-family: "Roboto Condensed Bold", sans-serif;
    font-size: 2.5rem;
}

.fuentePtSansRegular{
    font-family: "PTSans Regular", sans-serif;
    font-size: 1.5rem;
}

.fuenteArimoMedium{
    font-family: "Arimo Medium", sans-serif;
    font-size: 1rem;
}

.fuenteArimoBold{
    font-family: "Arimo Bold", sans-serif;
    font-size: 1.5rem;
}

.colorAmarillo{
    color: rgb(231, 174, 11);
    font-size: 1rem ;
}
    
.header{ /*Fondo azul boquita para el header*/
    display: flex;
    background-color: rgb(0, 29, 77);
    position: sticky;
    top: 0;
    height: 100px;
    /*padding-left: 20px;*/
    align-items: center;
    justify-content: space-between;
    .header__ContenedorLogo{
        /*background-color: red;*/
        /*display: flex;*/
        /*display:inline-block;*/
        height: 100px;
        width: 100px; 
        object-fit: cover;
    }
    .header__Nav{
        list-style: none;
        text-align: right;
        .header__Nav__Li{ /*Box Modelling para el nav*/
            display: inline-block; /*iria flex?*/
            margin-top: 10px;
            margin-bottom: 0px;
            margin-left: 20px;
            margin-right: 20px;
            .header__Nav__Li__Link{ /*Estilos para los links del navegador*/
                text-decoration: none;
                color: rgb(231, 174, 11);
                /*border: 1px solid rgb(231, 174, 11);*/
                
            }
        }
    }
}

.centrarTitulo{
    height: 50%;
    width: 50%;
    margin: 10px auto;
    text-align: center;
}

.noticia{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    margin-bottom: 20px;
}

.boxNoticia{
    width: 60%;
}

.linkTienda{
    text-decoration: none;
    color: rgb(0, 29, 77);

}

.seccionImg{
    /*background-color: gray;*/
    width: 60%;
    height: 85vh;
}

.contenedorImg{
    width: 100%;
    height: 100%;
    
}

.propiedadesImg{
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.galeria{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    /*gap: 10px;*/
}

.cajasGaleria{ /*Este va a ser el contenedor de TODAS las imagenes*/
    background-color: rgb(0, 29, 77);
    height: 200px;
    width: 200px;
    border: 2px solid rgb(231, 174, 11);
    margin: 10px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.cajasGaleria img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.footer{ /*TODO: agregar un contenedor con justify-content: flex-end para agregar los iconos de redes sociales*/
    color:rgb(0, 29, 77);
    background-color: rgb(0, 29, 77);
    display: flex;
    align-items:flex-end;
    justify-content: space-between;
    padding-bottom: 10px;
}

.imagenFooter{ /*Imagen de fondo para el footer*/
    background-image: url(../assets/img/footer.png);
    background-position:center;
    background-repeat:no-repeat;
    background-size:cover;
    width: 100%;
    height: 30vh;
    /*display: flex;
    align-items: center;
    justify-content: space-between;*/
}

.wsp{
    position: fixed;
    bottom: 20px;
    right: 20px;
}

.iconoWsp{
    font-size: 3rem;
    color: rgb(0, 29, 77);

}