/*Estilos Contacto*/

.btn-primary{
    background-color: $color-principal;
    color: $color-secundario;
    &:hover{
        background-color:$color-secundario;
        color: $color-principal;
    }
}