/*Estilos Contacto*/

.btn-primary{
    background-color: map-get($mapa-colores , color-principal);
    color: map-get($mapa-colores , color-secundario );
    &:hover{
        background-color:map-get($mapa-colores , color-principal);
        color: map-get($mapa-colores , color-secundario );
    }
}