/*Estilos Footer*/

.imagenFooter{ /*Imagen de fondo para el footer*/
    position: relative;
    background-color: map-get($mapa-colores , color-principal);
    background-image: url(../assets/img/footer.png);
    background-position:center;
    background-repeat:no-repeat;
    background-size:cover;
    height: 30vh;
    .redes{
        height: 30vh;
        .icono{
            font-size: $fuente-normal;
            color: map-get($mapa-colores , color-principal);
        
        }
    }
}

.texto-superior {
    position: absolute;
    top: 20px; /* Ajusta la posición vertical según tus necesidades */
    left: 50%; /* Centrar el texto horizontalmente */
    transform: translateX(-50%);
    padding: 10px;
    z-index: 10;
    color: map-get($mapa-colores, color-secundario );
}
