/*Estilos Galería*/

.galeria{
    @include contenedorFlex(wrap, center);
    .cajasGaleria{ /*Este va a ser el contenedor de TODAS las imagenes*/
        background-color: map-get($mapa-colores , color-principal);
        height: 200px;
        width: 200px;
        border: 2px solid map-get($mapa-colores , color-secundario);
        margin: 10px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        img{
            width: 100%;
            height: 100%;
            object-fit: cover;
        }
    }
}