/*Estilos Tienda*/

.carousel{
    width: 100%;
    padding: 0;
    .carousel-item{
        height: 60vh;
        width: 100%;
        .imgAdaptada{
            width: 100%;
            height: 100%;
            object-fit:cover;
        }
    }
}

.estiloBotonCompra{
    background-color: map-get($mapa-colores , color-principal);
    border-color: map-get($mapa-colores , color-secundario);
    &:hover{
        background-color: map-get($mapa-colores , color-secundario);
        border-color: map-get($mapa-colores , color-principal);
    }
}