@font-face {
    font-family: "Roboto Condensed Bold";
    src: url("../assets/fonts/RobotoCondensed-Bold.ttf");
}
@font-face {
    font-family: "PTSans Bold";
    src: url("../assets/fonts/PTSans-Bold.ttf");
}

@font-face {
    font-family: "Arimo Medium";
    src: url("../assets/fonts/Arimo-Medium.ttf");
}

@font-face {
    font-family: "Arimo Bold";
    src: url("../assets/fonts/Arimo-Bold.ttf");
}

@font-face {
    font-family: "Montserrat Light";
    src: url("../assets/fonts/Montserrat-VariableFont_wght.ttf");
}

.fuenteRobotoBold{/*h1*/
    font-family: "Roboto Condensed Bold", sans-serif;
    font-size: $fuente-grande;
}

.fuentePtSansBold{/*h2*/
    font-family: "PTSans Bold", sans-serif;
    font-size: $fuente-normal;
}

.fuenteArimoMedium{ /*parrafos*/
    font-family: "Arimo Medium", sans-serif;
    font-size: $fuente-pequena;
}

.fuenteMontserrat{ /*h3*/
    font-family: "Montserrat Light", sans-serif;
    font-size: $fuente-parrafos;
}


.colorAmarillo{
    color: map-get($mapa-colores , color-secundario);
    font-size: $fuente-pequena ;
}

.colorFondoAzul{
    background-color: map-get($mapa-colores , color-principal);
}

.letraBlanca{
    color:map-get($mapa-colores , color-blanco);
    font-weight: bold;
}

.letraNegra{
    color: map-get($mapa-colores , color-negro);
    font-weight: bold;
}

.padding-top-120{
    padding-top: 120px;
}

.colorFondo{
    background-image: linear-gradient(to right, #7674748b,#ffffff);
    background-image: linear-gradient(to right bottom, #1b00b1bf,#c8d510c6);
}


